li {
    list-style: none;
}

body {
    text-align: center;
    background-color: white;
}

#chatContainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
}

#messages {
    height: 430px;
    overflow-y: scroll;
}

#message2 {
    border: 1px solid skyblue;
    background-color: skyblue;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
    margin-left: -30px;
    padding: 10px;

}

#message1 {
    border: 1px solid lightgrey;
    background-color: lightgrey;
    border-radius: 5px;
    width: 50%;
    margin-left: 50%;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
}

#chat {
    color: midnightblue;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 10px;
}